pre[class*="language-"] {
  color: theme("colors.zinc.50");
}

.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.selector.class,
.token.boolean,
.token.function {
  color: theme("colors.pink.400");
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.pseudo-class,
.token.important {
  color: theme("colors.zinc.300");
}

.token.keyword,
.token.module {
  color: theme("colors.indigo.400");
}

.token.plain {
  color: theme("colors.blue.400");
}

.token.attr-value,
.token.class,
.token.string,
.token.property {
  color: theme("colors.green.400");
}

.token.punctuation,
.token.attr-equals {
  color: theme("colors.zinc.500");
}

.token.unit,
.language-css .token.function {
  color: theme("colors.teal.200");
}

.token.comment,
.token.operator,
.token.combinator {
  color: theme("colors.zinc.400");
}

.token.number {
  color: theme("colors.orange.400");
}
